<h2>Title:{{title}}</h2>
<h2>Description:{{description}}</h2>
<h2>Instructions:{{instructions}}</h2>
<h2>Ingredients:{{ingredients}}</h2>

<form action="/{{id}}?_method=delete" method="post">
  <input type="submit" value="Delete">
</form>

<a href="/edit/{{id}}">edit</a>